//Font families
$ff-standard: "Arial", sans-serif;

//Font sizes
$fs-xs: 0.5rem; 
$fs-sm: 0.75rem;
$fs-base: 1rem;
$fs-lg: 1.25rem;
$fs-xl: 1.5rem;
$fs-xxl: 2rem;
$fs-xxxl: 2.5rem;

//Font weights
$fw-light: 400;
$fw-normal: 500;
$fw-bold: 700;

//Line heights
$lh-standard: 1.5rem;
